<button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Tooltip on bottom">Tooltip on bottom</button>
<button type="button" class="btn btn-outline-secondary mr-2" (click)="onClickIdentifyA()">Identify A</button>
<button type="button" class="btn btn-outline-secondary mr-2" (click)="onClickIdentifyB()">Identify B</button>
<button type="button" class="btn btn-outline-secondary mr-2" (click)="onClickRestart()">Restart</button>
<button type="button" class="btn btn-outline-secondary mr-2" (click)="onClickShutdown()">Shut down</button>
